{%  extends 'base.html' %}
{% load static %}
{% block metadescription %}

{% endblock %}
{% block title  %}
Search
{% endblock %}

{% block content %}
<div>
    <p class="text-center my_search_text">Search Results for <b>{{query}}</b></p>
</div>
 <div class="container-fluid">
        <div class="row mx-auto">
            {% for product in products %}
            <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
                <div class="card text-center" style="min-width:18rem">
                    <a href="{{ product.get_url }}"> <img class="card-img my_image" src="{{product.image.url}}" alt="{{product.name}}" width="250px"></a>
                        <div class="card-body">
                            <h4>{{product.name}}</h4>
                            <p>{{product.price}}</p>
                            <p>{{product.description}}</p>
                        </div>
                </div>
            </div>
            {% empty %}
            <div class="row mx-auto">
                <p class="text-center my_search_text">No such product</p>
            </div>
        {% endfor %}
        </div>
     {% endblock %}
